<html>
<head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="node_modules/angular/angular.min.js"></script>

</head>
<body ng-app="beerList" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">BeerList</h1>
      <div class="page-header">
      </div>

      <!-- render beers here -->

      <form >
        <h3>Add a new beer</h3>

      <div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Beer Name" ng-model="newBeer.name" ></input>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Style" ng-model="newBeer.style" ></input>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="ABV" ng-model="newBeer.abv" ></input>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Image URL" ng-model="newBeer.image"></input>
        </div>
      </div>

        <button ng-click="addBeer()" type="button" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>

  <div ng-repeat="beer in brewry track by $index">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>{{beer.name}}</strong>
            <a href="#" ng-click="removeBeer($index)"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i></a>
          </div>
            <div class="panel-body">
                    {{beer.name}} {{beer.style}} {{beer.abv}}
                    <img ng-src="{{beer.img}}" />
              </div>
          </div>
      </div>
    </div>
  </div>

  <script src="js/app.js"></script>
  <script src="js/services/beerService.js"></script>
  <script src="js/controllers/MainCtrl.js"></script>

</body>
</html>
